@tailwind base;
@tailwind components;
@tailwind utilities;


a {
  color: #000000 !important;
  text-decoration: none;
}

a:hover {
  color: #393E46 !important;
}

a:active {
  color: #C69749 !important;
}

/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 991px) {
  h1 {
    font-size: 62px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .navbar {
    background-color: var(--dark-color);
  }

  .navbar-expand-lg .navbar-nav {
    padding-bottom: 30px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }

  .hero-section {
    padding-top: 150px;
  }

  .pricing-thumb {
    padding: 35px;
  }

  .schedule-table h3 {
    font-size: 22px;
  }

  .schedule-table th {
    padding: 20px;
  }

  .schedule-table tr, 
  .schedule-table td {
    padding: 25px;
  }

  .ticket-section {
    padding-top: 130px;
  }

  .ticket-form {
    padding: 30px;
  }
}

@media screen and (max-width: 767px) {
  .custom-btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }
}

/*---------------------------------------
    CALENDAR EVENTS              
-----------------------------------------*/

.fc-direction-ltr {
  height: 470px;
}

.fc .fc-daygrid-event-harness {
  background-color: #C69749 !important; /* Cor de fundo */
  border-radius: 5px; /* Bordas arredondadas */
}

.fc-h-event {
  background-color: #C69749 !important; /* Cor de fundo */
  border: white !important;;
  border-radius: 5px; /* Bordas arredondadas */
}

.fc-event-title-container {
  background-color: #C69749 !important; /* Cor de fundo */
  border-radius: 5px; /* Bordas arredondadas */
}

/*---------------------------------------
    ANT DESIGN              
-----------------------------------------*/

.ant-form-item-label {
  width: 85px;
}

.ant-form-item .ant-form-item-label {
  text-align: start;
}

@media print {
  body * {
    visibility: hidden;
  }

  #print-area,
  #print-area * {
    visibility: visible;
  }

  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
